
<h1>Upoznajte naš tim</h1>
   <div class="column">
     <div class="ceos">
	   <div class="column2">
		 <h4></h4>
	   </div>
	   
	   <div class="column2">
	   <div class="emplo1">
	     <img src="<%= image_path('user3.jpg')%>" alt="">
	     </div>	
	     </div>
	   
	   <div class="column2">
	     <div class="info1">
	       <h5>Dragan Čabarkapa</h5>
	       <p>Naša aplikacija vam omogućava da sve informacije o nekom proizvodu vam budu.</p>
	          <i class="fa fa-envelope"></i>
	          <i class="fa fa-facebook"></i>
	           <i class="fa fa-skype"></i>
	       </div>
	     </div>
	   
	    
	   <div class="column2">
	     <div class="emplo2">
	     <img src="<%= image_path('user3.jpg')%>" alt="">	
	      </div>
	   </div>
	   
	   <div class="column2">
	     <div class="info2">
	       <h5>Jovan Gošović</h5>
	        <p>Naša aplikacija vam omogućava da sve informacije o nekom proizvodu vam budu.</p>
	         <i class="fa fa-envelope"></i>
	          <i class="fa fa-facebook"></i>
	           <i class="fa fa-skype"></i>
	      </div>
	   </div>
	   <div class="column2">
		 <h4></h4>
	   </div>
	 </div>
	 </div>
	 <div class="column">
	 <div class="develop">
	 	<div class="column2">
	 	  <div class="emplo3">
	 		<img src="<%= image_path('user3.jpg')%>" alt="">
	 	</div>
	 	</div>
	 	<div class="column2">
	 		 <div class="info3">
	       <h5>Ivana Ćorović</h5>
	        <p>Naša aplikacija vam omogućava da sve informacije o nekom proizvodu vam budu.</p>
	         <i class="fa fa-envelope"></i>
	          <i class="fa fa-facebook"></i>
	           <i class="fa fa-skype"></i>
	     </div>
	 	</div>
	 	<div class="column2">
	 	<div class="emplo4">
	 		<img src="<%= image_path('user3.jpg')%>" alt="">
	 	</div>
	 	</div>
	 	<div class="column2">
	 		<div class="info4">
	       <h5>Redžep Demić</h5>
	        <p>Naša aplikacija vam omogućava da sve informacije o nekom proizvodu vam budu.</p>
	         <i class="fa fa-envelope"></i>
	          <i class="fa fa-facebook"></i>
	           <i class="fa fa-skype"></i>
	     </div>
	 	</div>
	 	<div class="column2">
	 	<div class="emplo5">
	 		<img src="<%= image_path('user3.jpg')%>" alt="">
	 	</div>
	 	</div>
	 	<div class="column2">
	 		<div class="info5">
	       <h5>Danijel Rešetar</h5>
	        <p>Naša aplikacija vam omogućava da sve informacije o nekom proizvodu vam budu.</p>
	         <i class="fa fa-envelope"></i>
	          <i class="fa fa-facebook"></i>
	           <i class="fa fa-skype"></i>
	     </div>
	 	</div>
	 </div>
	 </div>
     <div class="column">
	 <div class="uxd">
	 	<div class="column2">
		  <h4></h4>
	   </div>
	   <div class="column2">
	   <div class="emplo6">
	      <img src="<%= image_path('user3.jpg')%>" alt="">	
	      </div>
	   </div>
	   <div class="column2">
	     <div class="info6">
	       <h5>Ivana Kicović</h5>
	        <p>Naša aplikacija vam omogućava da sve informacije o nekom proizvodu vam budu.</p>
	         <i class="fa fa-envelope"></i>
	          <i class="fa fa-facebook"></i>
	           <i class="fa fa-skype"></i>
	     </div>
	   </div>
	   <div class="column2">
	   <div class="emplo7">
	     <img src="<%= image_path('user3.jpg')%>" alt="">
	     </div>	
	   </div>
	   <div class="column2">
	     <div class="info7">
	       <h5>Admir Brković</h5>
	        <p>Naša aplikacija vam omogućava da sve informacije o nekom proizvodu vam budu.</p>
	         <i class="fa fa-envelope"></i>
	          <i class="fa fa-facebook"></i>
	           <i class="fa fa-skype"></i>
	     </div>
	   </div>
	   <div class="column2">
		 <h4></h4>
	   </div>

	 </div>
   </div>
   

