<div class="team3">
  <h1>Upoznajte naš tim</h1>
    <div class="container">
    	<div class="ceos">
    		<div class="row-fluid">
    		  <div class="col-md-2">
    		  	<h4></h4>
    		  </div>
    			<div class="col-md-2">
    				<img src="<%= image_path('user3.jpg')%>" alt="">
    			</div>
    			<div class="col-md-2">
				 <div class="info1">
	                <h5>Dragan Čabarkapa</h5>
	                <p>Naša aplikacija vam omogućava da sve informacije o nekom proizvodu.</p>
	                  <div class="contacts">
	                  <i class="fa fa-envelope"></i>
	                  <i class="fa fa-skype"></i>
	                  <i class="fa fa-facebook"></i>
	                  </div>
	              </div>
			   </div>
			   <div class="col-md-2">
    				<img src="<%= image_path('user3.jpg')%>" alt="">
    			</div>
    			<div class="col-md-2">
				 <div class="info1">
	                <h5>Dragan Čabarkapa</h5>
	                <p>Naša aplikacija vam omogućava da sve informacije o nekom proizvodu.</p>
	                  <div class="contacts">
	                  <i class="fa fa-envelope"></i>
	                  <i class="fa fa-skype"></i>
	                  <i class="fa fa-facebook"></i>
	                  </div>
	              </div>
			   </div>
			   <div class="col-md-2">
    		  	<h4></h4>
    		  </div>
    		</div>
    	</div>
    </div>
    <div class="container">
    	<div class="ceos">
    		<div class="row-fluid">
    		  <div class="col-md-2">
    		  	<img src="<%= image_path('user3.jpg')%>" alt="">
    		  </div>
    			<div class="col-md-2">
    				<div class="info1">
	                <h5>Dragan Čabarkapa</h5>
	                <p>Naša aplikacija vam omogućava da sve informacije o nekom proizvodu.</p>
	                  <div class="contacts">
	                  <i class="fa fa-envelope"></i>
	                  <i class="fa fa-skype"></i>
	                  <i class="fa fa-facebook"></i>
	                  </div>
	              </div>
    			</div>
    			<div class="col-md-2">
				  <img src="<%= image_path('user3.jpg')%>" alt="">
			   </div>
			   <div class="col-md-2">
    				 <div class="info1">
	                <h5>Dragan Čabarkapa</h5>
	                <p>Naša aplikacija vam omogućava da sve informacije o nekom proizvodu.</p>
	                  <div class="contacts">
	                  <i class="fa fa-envelope"></i>
	                  <i class="fa fa-skype"></i>
	                  <i class="fa fa-facebook"></i>
	                  </div>
	              </div>
    			</div>
    			<div class="col-md-2">
				   <img src="<%= image_path('user3.jpg')%>" alt="">
			   </div>
			   <div class="col-md-2">
    		  	   <div class="info1">
	                <h5>Dragan Čabarkapa</h5>
	                <p>Naša aplikacija vam omogućava da sve informacije o nekom proizvodu.</p>
	                  <div class="contacts">
	                  <i class="fa fa-envelope"></i>
	                  <i class="fa fa-skype"></i>
	                  <i class="fa fa-facebook"></i>
	                  </div>
	              </div>
    		  </div>
    		</div>
    	</div>
    </div>

     <div class="container">
    	<div class="ceos">
    		<div class="row-fluid">
    		  <div class="col-md-2">
    		  	<h4></h4>
    		  </div>
    			<div class="col-md-2">
    				<img src="<%= image_path('user3.jpg')%>" alt="">
    			</div>
    			<div class="col-md-2">
				 <div class="info1">
	                <h5>Dragan Čabarkapa</h5>
	                <p>Naša aplikacija vam omogućava da sve informacije o nekom proizvodu.</p>
	                  <div class="contacts">
	                  <i class="fa fa-envelope"></i>
	                  <i class="fa fa-skype"></i>
	                  <i class="fa fa-facebook"></i>
	                  </div>
	              </div>
			   </div>
			   <div class="col-md-2">
    				<img src="<%= image_path('user3.jpg')%>" alt="">
    			</div>
    			<div class="col-md-2">
				 <div class="info1">
	                <h5>Dragan Čabarkapa</h5>
	                <p>Naša aplikacija vam omogućava da sve informacije o nekom proizvodu.</p>
	                  <div class="contacts">
	                  <i class="fa fa-envelope"></i>
	                  <i class="fa fa-skype"></i>
	                  <i class="fa fa-facebook"></i>
	                  </div>
	              </div>
			   </div>
			   <div class="col-md-2">
    		  	<h4></h4>
    		  </div>
    		</div>
    	</div>
    </div>
</div>